<div class="ui-g">
        <div class="ui-g-1">
        <input type="text" pInputText [(ngModel)]="search.name" size="10" placeholder="会员名" > 
        </div>
    <div  class="ui-g-1">
        <input type="text" pInputText [(ngModel)]="search.id" size="15" placeholder="会员编号" > 
    </div>
    <div  class="ui-g-1">
        <button pButton type="button" (click)="onsearch()" label="搜索"></button>
    </div>
</div>
<div class="ui-g">
    <div  class="ui-g-1">
        <button pButton type="button" (click)="selectedDel()" label="删除选中"></button>
    </div>
    <div  class="ui-g-1">
        <button pButton type="button" (click)="add()" label="新增"></button>
    </div>
    <div class="ui-g-2">
         <p-selectButton [options]="listType" [(ngModel)]="Show.tableshow" ></p-selectButton>
    </div>
   
</div>
<div>
    
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="任意字段查询">
    </div>
    <p-dataTable *ngIf="Show.tableshow" [(selection)]="selected" [value]="userInfo" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <p-header>站点列表</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="id" header="站点编号"></p-column>
        <p-column field="station_name" header="站点名"></p-column>
        <p-column field="station_charger" header="负责人"></p-column>
        <p-column field="phone" header="负责人电话"></p-column>
       <p-column header="工作图片">
            <template let-station="rowData" pTemplate="item">
                <div style="padding:3px" class="ui-g-12 ui-md-3">
                    <i class="fa fa-search" (click)="selectedGoods(station,1)" style="cursor:pointer"></i>
                </div>
            </template>
        </p-column>
        <p-column field="created_at" header="建站时间"></p-column>
        <!--<p-column header="操作">
            <template let-detail="rowData" pTemplate="body">
            <button type="button" pButton  label="修改"></button>
            <button type="button" pButton (click)="confirm()"  label="删除"></button>
            <button type="button" pButton (click)="detail(detail)" label="详细"></button>
            </template>
        </p-column>-->
        <p-column styleClass="col-button">
        <template pTemplate="header">
            <button type="button" pButton icon="fa-refresh" (click)="userList()"></button>
        </template>
        <template let-station="rowData" pTemplate="body">
           <button type="button" pButton (click)="update(station)"  label="修改"></button>
            <button type="button" pButton (click)="del(station)"  label="删除"></button>
            <!--<button type="button" pButton (click)="detail(station)" label="详细"></button>-->
        </template>
    </p-column>
    </p-dataTable>
      <p-dialog header="图片上传" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" >
        <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedRow" style="font-size:16px;text-align:center;padding:20px">
            <div *ngIf="showType==1" >
                <img [src]="pic" *ngFor="let pic of selectedRow?.work_img" (click)="selectedPic=pic;selectedPicShow=true;" style="width: 100px;height: 100px;">   
                <p-growl [value]="lmsgs"></p-growl>
                <p-fileUpload name="files[]" [url]="'baseUrl/common/file-uploads?id='+selectedRow?.id+'&dir=station&table=Station&filed=work_img'" (onUpload)="onUpload($event)" 
                 multiple="multiple" accept="image/*" maxFileSize="1000000">
                    <template pTemplate type="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </template>        
                </p-fileUpload>
            </div>
            <!--<a [href]="selectedGood.doc" *ngIf="showType==2">{{selectedGood.doc}}</a>-->
        </div>
    </p-dialog>
</div>
<div>

    <p-dialog header="会员详情" [(visible)]="Show.dialog" [responsive]="true" showEffect="fade" [modal]="true" width="400">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="userDetail" style="font-size:16px;text-align:center;padding:20px">
            <!--<div class="ui-grid-row">
                <div class="ui-grid-col-12" style="text-align:center"><img src="showcase/resources/demo/images/car/{{selectedCar.brand}}-big.gif"></div>
            </div>-->
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">id: </div>
                <div class="ui-grid-col-8">{{userDetail.id}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">name: </div>
                    <div class="ui-grid-col-8">{{userDetail.name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">电话: </div>
                    <div class="ui-grid-col-8">{{userDetail.phone}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">工作照: </div>
                    <div class="ui-grid-col-8">
                       <p-fileUpload name="files[]" [url]="'http://localhost:8000/api/common/file-upload?id='+selectedRow?.id+'&dir=station'" (onUpload)="onUpload($event)" 
                            multiple="multiple" accept="image/*" maxFileSize="1000000">
                            <template pTemplate type="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </template>        
                        </p-fileUpload>
                    </div>
            </div>
        </div>

        
    </p-dialog>
</div>
<div>
    <p-growl [value]="msgs"></p-growl>
    <p-confirmDialog width="425"></p-confirmDialog>
</div>
<div>
        <p-dialog header="新增/修改" [(visible)]="Show.cshow"  width="400">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="userDetail" style="font-size:16px;text-align:center;padding:20px">
                <!--<div class="ui-grid-row">
                    <div class="ui-grid-col-12" style="text-align:center"><img src="showcase/resources/demo/images/car/{{selectedCar.brand}}-big.gif"></div>
                </div>-->
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">站点名: </div>
                    <div class="ui-grid-col-8"><input type="text" pInputText [(ngModel)]="userDetail.station_name" size="10" > </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">负责人: </div>
                    <div class="ui-grid-col-8"><input type="text" pInputText [(ngModel)]="userDetail.station_charger" size="10"  > </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">电话: </div>
                    <div class="ui-grid-col-8"><input type="text" pInputText [(ngModel)]="userDetail.phone" size="10"  > </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">工作照: </div>
                    <div class="ui-grid-col-8">
                        <p-fileUpload name="files[]" [url]="'http://localhost:8000/api/common/file-upload?id='+selectedRow?.id+'&dir=station'" (onUpload)="onUpload($event)" 
                            multiple="multiple" accept="image/*" maxFileSize="1000000">
                            <template pTemplate type="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </template>        
                        </p-fileUpload>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="Show.cshow=false" label="取消"></button>
                    <button *ngIf="Show.updateshow" type="button" pButton icon="fa-check" (click)="updatepost()" label="修改"></button>
                    <button *ngIf="Show.addshow" type="button" pButton icon="fa-check" (click)="add(1)" label="添加"></button>
                </div>  
            </p-footer>
        </p-dialog>
</div>
<div>
    <zippy [isShow]="selectedPicShow" (open)="open($event)">
        <div class="zi">
            <img [src]="selectedPic" >
        </div>
    </zippy>
</div>