<div class="ui-g">
        <div class="ui-g-2">
        <p-autoComplete [(ngModel)]="text" size="30" placeholder="订单号" ></p-autoComplete>
        </div>
    <div  class="ui-g-2">
        <p-autoComplete [(ngModel)]="text" size="30" placeholder="维修员编号" ></p-autoComplete>
    </div>
    <div  class="ui-g-1">
        <button pButton type="button" label="搜索"></button>
    </div>
</div>
<div>
    <p-dataTable [value]="" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <p-header>会员列表</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="vin" header="维修员ID"></p-column>
        <p-column field="year" header="维修员名"></p-column>
        <p-column field="brand" header="电话"></p-column>
        <p-column field="color" header="e-mail"></p-column>
        <p-column field="color" header="注册时间"></p-column>
        <p-column header="操作">
            <template pTemplate="body"><!--let-member="rowData" -->
            <button type="button" pButton  label="修改"></button>
            <button type="button" pButton  label="删除"></button>
            <button type="button" pButton  label="详细"></button>
            <button type="button" pButton  label="分配"></button>
            </template>
        </p-column>
        
    </p-dataTable>
</div>