<div class="ui-g">
        <div class="ui-g-2">
        <input type="text" pInputText [(ngModel)]="number" size="30" placeholder="订单号" > 
        </div>
    <div  class="ui-g-2">
      <p-dropdown [options]="company" [(ngModel)]="selectedCompany" [style]="{'width':'150px'}" filter="filter">
        <template let-company pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <div style="font-size:14px;float:right;margin-top:4px">{{company.name}}</div>
            </div>
        </template>
    </p-dropdown>
    </div>
    <div  class="ui-g-1">
        <button pButton type="button" (click)="expressInfo()" label="搜索"></button>
    </div>
</div>
<div>
    <p-dataTable [value]="userInfo.Traces" *ngIf="rshow">
        <p-header>物流信息</p-header>
        <p-column field="AcceptTime" [sortable]="true" header="时间"></p-column>
        <p-column field="AcceptStation" header="信息"></p-column>
        
    </p-dataTable>
</div>