<div class="ui-g">
        <div class="ui-g-1">
        <input type="text" pInputText [(ngModel)]="search.name" size="10" placeholder="会员名" > 
        </div>
    <div  class="ui-g-1">
        <input type="text" pInputText [(ngModel)]="search.id" size="15" placeholder="会员编号" > 
    </div>
    <div  class="ui-g-1">
        <button pButton type="button" (click)="onsearch()" label="搜索"></button>
    </div>
</div>
<div class="ui-g">
    <div  class="ui-g-1">
        <button pButton type="button" (click)="selectedDel()" label="删除选中"></button>
    </div>
    <div  class="ui-g-1">
        <button pButton type="button" (click)="add()" label="新增"></button>
    </div>
    <div class="ui-g-2">
         <p-selectButton [options]="listType" [(ngModel)]="Show.tableshow" ></p-selectButton>
    </div>
   
</div>
<div>
    
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="任意字段查询">
    </div>
    <p-dataTable *ngIf="Show.tableshow"  [value]="userInfo" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt [pageLinks]="3"  [responsive]="true" [rowsPerPageOptions]="[5,10,20]">
        <p-header>订单列表</p-header>
        <!--<p-header>
            <div class="ui-helper-clearfix">
                <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV(selected)" style="float:left"></button>
            </div>
        </p-header>-->
        <!--<p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>-->
        <p-column field="id" [sortable]="true" header="订单号"></p-column>
        <p-column field="customer_name" header="申请人"></p-column>
        <p-column field="goods_type" header="维修产品"></p-column>
         <p-column field="tel_number" header="联系方式"></p-column>
        <p-column field="buy_time" [sortable]="true" header="申请时间"></p-column>
        <p-column field="repairer_name" header="维修员"></p-column>
        <p-column field="_status" header="状态"></p-column>
        <p-column styleClass="col-button">
        <template pTemplate="header">
            <button type="button" pButton icon="fa-refresh" (click)="orderList()"></button>
        </template>
        <template let-order="rowData" pTemplate="body">
            <button type="button" *ngIf="order.status==2" pButton (click)="distribution(order)"  label="分配"></button>
            <button type="button" *ngIf="order.status==1" pButton (click)="detail(order)"  label="查看"></button>
            <button type="button" pButton (click)="detail(order)" label="详细"></button>
        </template>
    </p-column>
    </p-dataTable>

</div>
<div>

    <p-dialog header="订单详情" [(visible)]="Show.dialog" [responsive]="true" showEffect="fade" [modal]="true" width="400">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="userDetail" style="font-size:16px;text-align:center;padding:20px">
            <!--<div class="ui-grid-row">
                <div class="ui-grid-col-12" style="text-align:center"><img src="showcase/resources/demo/images/car/{{selectedCar.brand}}-big.gif"></div>
            </div>-->
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">订单ID: </div>
                <div class="ui-grid-col-8">{{userDetail.id}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">申请人: </div>
                    <div class="ui-grid-col-8">{{userDetail.customer_name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">维修产品: </div>
                    <div class="ui-grid-col-8">{{userDetail.goods_type}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">报修问题 </div>
                    <div class="ui-g-6 ui-md-3">{{userDetail.problem}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">维修员 </div>
                    <div class="ui-g-6 ui-md-3">{{userDetail.repairer_name}}</div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">图片</div>
                    <div class="ui-g-6 ui-md-3">
                        <button type="text" pButton label="Basic" (click)="op1.toggle($event)"></button>
                        <p-overlayPanel #op1>
                            <img [src]="userDetail.picture" alt="Galleria 1" />
                        </p-overlayPanel>
                    </div>
                </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="Show.dialog=false" label="取消"></button>
        
            </div>  
        </p-footer>
        
    </p-dialog>
</div>
<div>
    <p-dialog header="维修人员列表" [(visible)]="rshow" modal="modal" width="600" responsive="true">
       <p-dataTable [value]="repairer" selectionMode="single" [(selection)]="selectedRepairer" >
            <p-header>维修人员列表</p-header>
            <p-column field="username" header="姓名"></p-column>
            <p-column field="repair_address" header="驻点"></p-column>
            <p-column field="works" header="当前任务"></p-column>
            <p-column field="_status" header="状态"></p-column>
        </p-dataTable>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="rshow=false" label="取消"></button>
                    <button type="button" pButton icon="fa-check" (click)="selectrepair()" label="确认"></button>
                </div>
            </p-footer>
    </p-dialog>
</div>