p{
    font-size: 14px;
}
.page{
    //position: relative;
}
.zi{
    overflow: hidden;
}
.yuan{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: red;

    top:10%;
    cursor: pointer;
}