<div class="page">
<div class="ui-g">
        <div class="ui-g-2">
        <p-autoComplete [(ngModel)]="search.name" size="10" placeholder="会员名" ></p-autoComplete>
        </div>
    <div  class="ui-g-2">
        <p-autoComplete [(ngModel)]="search.id" size="15" placeholder="会员编号" ></p-autoComplete>
    </div>
    <div  class="ui-g-2">
        <button pButton type="button" (click)="onsearch()" label="搜索"></button>
    </div>
</div>
<div class="ui-g">
    <div  class="ui-g-2">
        <button pButton type="button" (click)="selectedDel()" label="删除选中"></button>
    </div>
    <div  class="ui-g-2">
        <button pButton type="button" (click)="add()" label="新增"></button>
    </div>
    <div class="ui-g-2">
         <p-selectButton [options]="listType" [(ngModel)]="Show.tableshow" ></p-selectButton>
    </div>
</div>
<div>
    
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="任意字段查询">
    </div>
    <p-dataTable *ngIf="Show.tableshow" [(selection)]="selected" [value]="userInfo" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <p-header>产品列表</p-header>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="name" header="产品名"></p-column>
        <p-column header="图片">
            <template let-good="rowData" pTemplate="item">
                <div style="padding:3px" class="ui-g-12 ui-md-3">
                    <i class="fa fa-search" (click)="selectedGoods(good,1)" style="cursor:pointer"></i>
                </div>
            </template>
        </p-column>
        <p-column header="资料">
            <template let-good="rowData" pTemplate="item">
                <div style="padding:3px" class="ui-g-12 ui-md-3">
                    <i class="fa fa-search" (click)="selectedGoods(good,2)" style="cursor:pointer"></i>
                </div>
            </template>    
        </p-column>
        <p-column field="help" header="帮助">
            <template let-good="rowData" pTemplate="item">
                <div style="padding:3px" class="ui-g-12 ui-md-3">
                    <i class="fa fa-search" (click)="selectedGoods(good,3)" style="cursor:pointer"></i>
                </div>
            </template>
        </p-column>
        <p-column field="maintain" header="保养">
            <template let-good="rowData" pTemplate="item">
                <div style="padding:3px" class="ui-g-12 ui-md-3">
                    <i class="fa fa-search" (click)="selectedGoods(good,4)" style="cursor:pointer"></i>
                </div>
            </template>
        </p-column>
        <p-column styleClass="col-button">
            <template pTemplate="header">
                <button type="button" pButton icon="fa-refresh" (click)="userList()"></button>
            </template>
            <template let-goods="rowData" pTemplate="body">
                <button type="button" pButton (click)="del(goods)"  label="删除"></button>
            </template>
        </p-column>
    </p-dataTable>
    <p-dialog header="详情" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" (onAfterHide)="onDialogHide()">
        <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedGood" style="font-size:16px;text-align:center;padding:20px">
            <div *ngIf="showType==1" >
                <div *ngFor="let pic of selectedGood?.picture" style="float: left;width: 100px;height: 100px;">
                    <img [src]="pic" (click)="selectedPic=pic;selectedPicShow=true;" style="width: 100px;height: 100px;">   
                    <div class="yuan" style="position: absolute" (click)="deletePic(pic,selectedGood.id)"><i class="fa fa-minus"></i></div>
                </div><br>
                <p-growl [value]="lmsgs"></p-growl>
                <div style="width: 100%;float: left">
                <p-fileUpload name="files[]" [url]="baseUrl+'common/file-uploads?id='+selectedGood?.id+'&dir=goods/picture&table=Goods&filed=picture'" (onUpload)="onUpload($event)" 
                   multiple="multiple" accept="image/*" maxFileSize="1000000">
                    <template pTemplate type="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </template>        
                </p-fileUpload>
                </div>
            </div>
            <div *ngIf="showType==2">
                <div *ngFor="let doc of selectedGood?.doc">
                    <a style="display: block;float: left" [href]="doc">{{doc}}</a>
                    <div class="yuan" style="float: left" (click)="deleteDoc(doc,selectedGood.id)"><i class="fa fa-minus"></i></div>
                </div>
                <p-growl [value]="lmsgs"></p-growl>
                <div style="width: 100%;float: left">
                    <p-fileUpload name="files[]" [url]="baseUrl+'common/file-uploads?id='+selectedGood?.id+'&dir=goods/doc&table=Goods&filed=doc'" (onUpload)="onUpload($event)" 
                    multiple="multiple" accept="image/*" maxFileSize="1000000">
                        <template pTemplate type="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </template>        
                    </p-fileUpload>
                </div>
            </div>
            <div *ngIf="showType==3" (froala)="froalaContent($event)">
                <button type="button" pButton label="保存" (click)="updateHelp()" ></button>
                <div [froalaEditor]='options' [(froalaModel)]="selectedGood.help"></div>
            </div>
            <div *ngIf="showType==4" (froala)="froalaContent($event)">
                <button type="button" pButton label="保存" (click)="updateMaintain()" ></button>
                <div [froalaEditor]='options' [(froalaModel)]="selectedGood.maintain"></div>
            </div>
        </div>
    </p-dialog>
</div>

<div>
    <p-growl [value]="msgs"></p-growl>
    <p-confirmDialog width="425"></p-confirmDialog>
</div>
<div>
    <p-dialog header="会员详情" [(visible)]="Show.cshow"  width="400">
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="userDetail" style="font-size:16px;text-align:center;padding:20px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">产品名称: </div>
                <div class="ui-grid-col-8"><p-autoComplete [(ngModel)]="userDetail.name" size="10" ></p-autoComplete></div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="Show.cshow=false" label="取消"></button>
                <button *ngIf="Show.addshow" type="button" pButton icon="fa-check" (click)="add(1)" label="添加"></button>
            </div>  
        </p-footer>
    </p-dialog>
</div>
<zippy [isShow]="selectedPicShow" (open)="open($event)">
    <div class="zi">
        <img [src]="selectedPic" >
    </div>
</zippy>
</div>